body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  /* proposed by WS */ 
  overflow-y: scroll;
}

/* navbar from WS */
.navbar {
  background-color: #2c2c2c;
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
  max-width: 800px;

}

.navbar a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  float: left;
  padding: 16px;
}

.navbar a:hover {
  background-color: #818181;
}

.navbar a.hl {
  background-color: #555555;
}

.greeny {
  background-color: #c9ecda;
  display: block;
  border-radius: 2px;
  max-width: 600px;
  /* text-align: center; */
}


.top-card {
    width: 100%;
    /* height: 200px; */
}

.top-card img {
    width: 100%;
}

.top-card .menu-icon {
    /* position: relative; */

    bottom: 13.7em;
    font-size: 17px;
    cursor: pointer;
}



.top-card .menu-icon .item1 {
    margin-left: 10px;
        margin-top: 15px;
        color: red;
}

.top-card .menu-icon .item2 {
   float: right;
   margin-right: 20px;
     margin-top: -10px;
     color: blue;

}


p {
    font-size: 16px;
    color: #000;
    font-weight: 300;
    margin: 12px 0;
    text-align: center;

}

h2 {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin: 12px 0;
    text-align: center;

}


.middle-card, footer {
    margin: 5px 25px;
}

.middle-card {
    text-align: justify;
}

footer {
    text-align: center;

}

footer .social-icon {
    /* padding: 7%; */
    font-size: 20px;
    margin: 0 5%;
    color: rgba(0, 0, 0, .9);
}

.facebook:hover {color:#3b5999;}
.twitter:hover {color: #55acee;}
.google:hover {color: #dd4b39;}
.github:hover {color: #302f2f;}
.linkedin:hover {color: #0077B5;}

footer .links {
    border-top: 2px solid rgba(0, 0, 0, .1);
    text-align: center;
    margin-top: 10px;
    padding: 8px 0;

}



button{
    width: 110px;
    height: 37px;
    margin-top: 10px;
    border-radius: 2px;
    background: #1990cc;
    font-size: 15px;
    border: none;
    color: white;
}
button:last-child{
    margin-left: 40px;
    border: 2px solid #1990cc;
    background: white;
    color: black;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  /*justify-content: center;*/
}

.card {
  overflow: hidden;

  box-shadow: 0px 1px 10px #d7dfe2;  
  background: white;
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card:hover {
  /* orginal scale 1.05 */
  /* reduced value to omit object collision */
  /* proposed by WS */
  transform: scale(1.01);
  box-shadow: 0px 1px 20px #d7dfe2; 
}

.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

.card2 {
  overflow: hidden;
  box-shadow: 0px 1px 10px #d7dfe2; 
  background: white;
  border-radius: 0.5rem;
  position: relative;
  width: 760px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card2:hover {
  /* orginal scale 1.05 */ 
  /* reduced value to omit object collision */ 
  /* proposed by WS */ 
  transform: scale(1.01);
  box-shadow: 0px 1px 20px #d7dfe2; 
}

.card2-body {
  margin: 15rem 1rem 1rem 1rem;
}

/* Test for blogs */


.blog-hashtag {
  font-size: 0.9rem;
  font-weight: 500;
  color: #4d97b2;
}

.blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.blog-description {
  color: #616b74;
  font-size: 0.9rem;
}

.banner-img {
  position: absolute;
  /*object-fit: cover;*/
  height: 14rem;
  width: 100%;
}


.profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.card-profile-info {
  margin-left: 1rem;
}

.profile-name {
  font-size: 1rem;
}

.profile-followers {
  color: #616b74;
  font-size: 0.9rem;
}

.category-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background: red;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  /*text-transform: uppercase;*/
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.popular {
  background: #c9ecda;
}

.technology {
  background: #651fff;
}

.psychology {
  background: #e85808;
}


